/* core : root custom properties - =========================================================================== - */
@use 'sass:map';
@use '@/scss/fonts' as font;
@use '@/scss/units' as unit;

:root {
  /* system font families */
  --system-fontFamily-mono: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
  --system-fontFamily-sansSerif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui', 'helvetica neue', helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  /* times */
  --core-time-fast: 250ms;
  --core-time-blaze: 125ms;

  /* page layout */
  --core-page-gutter: #{unit.rem(48)};

  /* font families */
  --core-fontFamily-figtree: #{map.get(font.$figtree, 'name')};
  --core-fontFamily-figtreeVariable: '#{map.get(font.$figtree, 'name (variable)')}';

  /* font sizes (size / viewports) */
  --core-fontSize-small:  /* 12px : 14px / 376px : 416px */ clamp(#{unit.rem(12)}, -0.425rem + 5vw, #{unit.rem(14)});
  --core-fontSize-medium: /* 20px : 22px / 376px : 416px */ clamp(#{unit.rem(20)}, 0.075rem + 5vw, #{unit.rem(22)});
  --core-fontSize-normal: /* 14px : 16px / 376px : 416px */ clamp(#{unit.rem(14)}, -0.3rem + 5vw, #{unit.rem(16)});
  --core-fontSizeFixed-fine: #{unit.rem(12)};
  --core-fontSizeFixed-small: #{unit.rem(14)};

  /* font weights */
  --core-fontWeight-medium: 500;
  --core-fontWeight-extraBold: 800;

  /* line heights */
  --core-lineHeight-100: 1.6;

  /* colours (hsl) */
  --core-color-mustard: 47 88% 63%;

  --core-color-rajah: 34 100% 73%;
  --core-color-cognac: 15 67% 41%;
  --core-color-mantis: 110 41% 52%;
  --core-color-pixieGreen: 107 33% 79%;

  /* neutrals (rgb) */
  --core-neutral-grey: 128 128 128;
  --core-neutral-white: 255 255 255;
  --core-neutral-woodsmoke: 18 18 18;

  --core-neutral-black: 0 0 0;
  --core-neutral-seashell: 240 240 240;
  --core-neutral-marshland: 20 20 20;
}